*{
     margin: 0;
     padding: 0;
     font-family: 'Nunito',sans-serif;
}


body{
     background: whitesmoke;
}
.exit a{
     text-decoration: none;
     color: black;
     font-size: 20px;
     position: absolute;
     left: 20px;
     border-radius: 10px;
     padding: 7px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.exit a:hover{
     background: rgba(220, 215, 215, 0.557);
}



.exit a i{
     position: relative;
     rotate: 180deg;
     top: 2.5px;
}


.notice_section{
     width: 98%;
    
     margin:  5px  auto;
     height: 160vh;
     background: white;
     box-shadow: 2px 2px 2px;
     border-radius: 10px;
}

.notice_section h1{
     text-align: center;
}

.notice_section .H{
     text-align: center;
   border-bottom: 1px solid black;
     padding: 10px;
}

.notice_board{
   
     width: 60%;
     height: 140vh;
     overflow: scroll;
     background: wheat;
     box-shadow: 5px 4px 5px;
     margin:  15px auto; border-radius: 10px;
}
@media only screen and (max-width: 600px){
     .notice_board{
        
          width: 70%;
     }
}
.notice_board h5{
     text-align: center;

}
.notice_board p{
     text-align: center;
}

.notice_box{
     width: 30%;
     float: left;
  border-radius: 10px;
     margin: 40px 10px;
    
     height: 40vh;
   

}
@media only screen and (max-width: 600px){
     .notice_box{
          width: 95%;
     }
}
.notice_box a img{
     width: 100%;
     transition: 0.1s linear;
     height: 100%;border-radius: 10px;
}
.notice_box a img:hover{
     box-shadow: 5px 2px 10px 5px gray;
}
.notice_box a p:hover{
     margin-top: 0px;
}
.notice_box a p{
     font-family: 'Tiro Bangla',sans-serif;
     text-decoration: none;
     color: black;
     margin-top: 10px;
     border-radius: 10px;
     transition: 0.1s linear;
   
     padding: 10px;
}



.notice_box a{
     text-decoration: none;
}



/*--------------footer_section---------*/

.footer_page{
     
     width: 100%;
     height: 100vh;

}
@media only screen and (max-width: 600px){
     .footer_page{
          height: 150vh;
          margin-top: 10px;
     }
}

.footer{
  background: black;
     width: 98%;
     margin-left: 10px;
     height: 70vh;
     margin-top: 10px;

}
.footer_p {
     float: left;
     width: fit-content;
     position: relative;
     top: -138%;
     color: white;
     margin-left:200px
}

@media only screen and (max-width: 600px){
     .footer_p{
          top: 3%;
  
          left: -49%;
        width: 100%;
          
     }
}



@media only screen and (max-width: 600px){
     .footer{
          margin-left: 5px;
          margin-top: 20px;
         height: 150vh;
        
     }
}


p{
     text-align: center;
     font-family: monospace;
}
.footer h1{
     text-align: center;
     border-bottom: 2px solid white;
     letter-spacing: 20px;
     color: white;
       font-family: 'Nunito', sans-serif;font-family: 'Nunito', sans-serif;

}


.footer .footer_details{
  
     width: 35%;
     height: 70%;
     margin-top: 5px;
     margin-left: 5px;
     
   
}
.footer .footer_details .footer_h3{
     color: white;
     font-family: 'Nunito',sans-serif;
     margin-top: 30px;
     margin-left: 10px;
     font-size: 15px;
     position: relative;
     top: 50px;
     cursor: pointer;
}
@media only screen and (max-width: 600px){
     .footer .footer_details .footer_h3{
          position: relative;
    
     }
}

@media only screen and (max-width: 600px){
     .footer .footer_details{
          width: 98%;
          height: 28%;
     }
}

.footer_map{
  
     width: 38%;
     height: 70%;
     display: flex;
    left: 36%;
    border: 1px solid white;
    top: -70%;
    position: relative;
}



@media only screen and (max-width: 600px){
     .footer_map{
          width: 98%;
          height: 30%;
          left: 5px;
          top: 5px;
     }
}


.footer_social{
  border: 1px solid white;
     width: 25%;
     height: 70%;
     position: relative;
     left: 74.5%;
     top: -140.3%;
}


.footer_social .social_link{

     padding: 7px;
     width: 85%;
     margin-top: 20px;
     margin-left: 20px;
     border-radius: 10px;
}
.footer_social .social_link:hover{
     background: rgba(245, 240, 240, 0.368);
}
.footer_social .social_link a{
     text-decoration: none;
     position: relative;
     color: white;
     left: 20px;
     font-size: 20px;
     font-family: 'Nunito', sans-serif;font-family: 'Nunito', sans-serif;
     
}
.footer_social .social_link a i{
   
     position: relative;
     top: 2.5px;
     left: -20px;
     font-size: 25px;
     
}
@media only screen and (max-width: 600px){
     .footer_social{
          width: 98%;
          height: 28%;
       
          left: 5px;
          top: 10px;
     }
}





.footer_page{
     
     width: 100%;
     height: 100vh;

}
@media only screen and (max-width: 600px){
     .footer_page{
          height: 150vh;
          margin-top: 10px;
     }
}







