*{
     margin: 0;
     padding: 0;

   

}




body{
     background: whitesmoke;
   
}

.gallary{
   border-radius: 10px;
     width: 98%;
     margin-left: 10px;
     background: rgba(223, 141, 141, 0.646);
     margin-top: 5px;
     box-shadow: 5px 3px 5px;
     height: 290vh;
}


@media only screen and (max-width: 600px){
     .gallary{
          width: 97%;
          margin-left: 6px;
          height: auto;
     }
}
.gallary .exit{
     
    position: relative;
    top: 30px;
}


.gallary .exit a{
     text-decoration: none;
     color: black;
     font-size: 20px;
     position: absolute;
     left: 20px;
     border-radius: 10px;
     padding: 7px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.gallary .exit a:hover{
     background: rgba(245, 240, 240, 0.368);
}

.gallary .exit a i{
     rotate: 180deg;
     position: relative;
     top: 2.3px;
}




.gallary h1{
     text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.gallary p{
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-top: 20px;
     padding: 10px;
     border-bottom: 2px solid white;
}

.galary_frame{
    border-radius: 10px;
     width: 100%;
     height: 270vh;
     margin-top: 20px;
    
 

}
@media only screen and (max-width: 600px){
     .galary_frame{
          height: auto;
     }
}
.galary_frame .photo{
  box-shadow: 5px 3px 5px;
     width: 20%;
     border-radius: 10px;
     height: 45vh;
     float: left;
     rotate: -90deg;
     position: relative;
     top: 10px;
     transition: 0.1s linear;
     margin-left: 40px;
     margin-top: 40px;
     position: relative;
  display: flex;
}
@media only screen and (max-width: 600px){
     .galary_frame .photo{
          float: none;
          width: 97%;
          rotate: 0deg;
          margin-top: 10px;
          margin-left: 4px;
     }
}

.galary_frame .photo iframe{
     width: 100%;
     height: 100%;
     border-radius: 10px;
}
/* 
.galary_frame .photo:hover{
    rotate: 0deg;
} */





/* footer-section */
.footer_page{
     
     width: 100%;
     height: 100vh;

}
@media only screen and (max-width: 600px){
     .footer_page{
          height: 150vh;
          margin-top: 10px;
     }
}

.footer{
  background: black;
     width: 98%;
     margin-left: 10px;
     height: 70vh;
     margin-top: 10px;

}
.footer_p {
     float: left;
     width: fit-content;
     position: relative;
     top: -135%;
     color: white;
     margin-left:200px
}

@media only screen and (max-width: 600px){
     .footer_p{
          top: 2%;
       width: 100%;
          left: -40%;
          
     }
}


@media only screen and (max-width: 600px){
     .footer{
          margin-left: 5px;
          margin-top: 20px;
         height: 147vh;
        
     }
}


p{
     text-align: center;
     font-family: monospace;
}
.footer h1{
     text-align: center;
     border-bottom: 2px solid white;
     letter-spacing: 20px;
     color: white;
       font-family: 'Nunito', sans-serif;font-family: 'Nunito', sans-serif;

}


.footer .footer_details{
  
     width: 35%;
     height: 70%;
     margin-top: 5px;
     margin-left: 5px;
     
    
   
}


.footer_h3{
     color: white;
     font-family: 'Nunito',sans-serif;
     margin-top: 30px;
     margin-left: 10px;
     font-size: 15px;
     position: relative;
     top: 50px;
     cursor: pointer;
}
@media only screen and (max-width: 600px){
     .footer .footer_details{
          width: 98%;
          height: 28%;
     }
}

.footer_map{
  
     width: 38%;
     height: 70%;
     display: flex;
    left: 36%;
  
    top: -70%;
    position: relative;
}


.footer_map iframe{
     width: 100%;
     height: 100%;
}

@media only screen and (max-width: 600px){
     .footer_map{
          width: 98%;
          height: 30%;
          left: 5px;
          top: 5px;
     }
}


.footer_social{
  border: 1px solid white;
     width: 25%;
     height: 70%;
     position: relative;
     left: 74.5%;
     top: -140.3%;
}


.footer_social .social_link{

     padding: 7px;
     width: 85%;
     margin-top: 20px;
     margin-left: 20px;
     border-radius: 10px;
}
.footer_social .social_link:hover{
     background: rgba(245, 240, 240, 0.368);
}
.footer_social .social_link a{
     text-decoration: none;
     position: relative;
     color: white;
     left: 20px;
     font-size: 20px;
     font-family: 'Nunito', sans-serif;font-family: 'Nunito', sans-serif;
     
}
.footer_social .social_link a i{
   
     position: relative;
     top: 2.5px;
     left: -20px;
     font-size: 25px;
     
}
@media only screen and (max-width: 600px){
     .footer_social{
          width: 98%;
          height: 28%;
       
          left: 5px;
          top: 10px;
     }
}